Makefile
Makefile.old
Build
Build.bat
META.*
MYMETA.*
.build/
_build/
cover_db/
blib/
inc/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
Test-Alien-GSL-GslConfigMB-*
Test-Alien-GSL-GslConfigMB-*.tar.gz
